body{
    background-color: black;
    
}

button{
background-color: blue;
position: relative;
animation: buttonmove 6s 200;
animation-direction: alternate;
rotate: 30deg;
}

@keyframes buttonmove {
0%   {background: red; left: 0px; top: 0px;}
25%  {background: yellow; left: 200px; top: 0px;}
50%  {background: blue; left: 200px; top: 200px;}
75%  {background: green; left: 0px; top: 200px;}
100% {background: red; left: 0px; top: 0px;}




}



