body{
    border: 2px solid rgb(150, 4, 4);
    background-color: black ;
    color: coral;
    padding-bottom: 100;

}

#ricksquared{
    margin-top: 30px;
}








#ItemList{
    color: blue; /*Item list is blue*/
    font-size: larger;
    font-family: cursive;
    transform: rotate(180deg);
    padding-top: 600px;
    padding-left: 500px;
    position: relative;
    animation: mymove 1s infinite;
}

@keyframes mymove {
    from {left: 10px}
    to {left: 400px}
}



img{
    width: 800px;
    height: 400px;
    position: relative;
    animation: rick 5s infinite;



}   

@keyframes rick {
    from {left: 10px}
    to {left: 500px}
}




